---
---


@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'


@import 'fonts'
@import 'colours'

@import 'parallax'

@import 'slide-one'
@import 'slide-two'
@import 'slide-three'
@import 'slide-four'
@import 'slide-five'


*
  box-sizing: border-box

html
  font-size: 62.5%

body,html
  height: 100%
  margin: 0
  padding: 0

.section
  color: white
  height: (9/16 * 120) + vw
  @media screen and (orientation: portrait)
    height: (16/9 * 100) + vw
  position: relative
  &--one
    background-color: $vivid_tangerine
    margin-top: (-9/16 * 10) + vw
  &--two, &--six
    background-color: $blue_bayoux
  &--three, &--seven
    background-color: $watusi
    color: $mine_shaft
  &--four
    background-color: $medium_aquamarine
  &--five
    background-color: $salmon
  &--six
    .section-heading, .pullout-stat
      color: $sugar_cane
  &--seven
    height: (9/16 * 100) + vw

.texture
  position: fixed
  top: 0%
  left: 0%
  width: 100%
  height: 100%
  z-index: 9999
  pointer-events: none
  background-image: url(images/clean-gray-paper.png)
  opacity: .5

$homepage-layout-grid: (columns: 2, gutter: 2 * $base-spacing,)

.container
  max-width: 1280px
  margin-left: auto
  margin-right: auto
  height: 100%
  display: flex
  @include grid-container($homepage-layout-grid)
  @include grid-visual(rgba(255,255,255,0.2), $homepage-layout-grid)

.homepage-title
  text-transform: lowercase
  font-size: modular-scale(5)
  margin-top: $base-spacing
  margin-bottom: $small-spacing

.lemonbalm-logo
  height: 3 * $base-spacing
  width: auto

.section-heading
  font-size: modular-scale(3)
  margin-bottom: $base-spacing

.section-subheading
  margin-top: 1.5 * $base-spacing
  margin-bottom: $small-spacing

.pullout-stat
  font-size: modular-scale(10)
  font-family: $heading-font-family
  line-height: 1

.column
  position: relative
  align-self: center
  @include grid-column(1, $homepage-layout-grid)
  &--image
    height: 100%
  &--text
    z-index: 999
  &--right
    @include grid-push(1)
  &--centred
    text-align: center
    @include grid-column(1.5, $homepage-layout-grid)
    margin-left: auto
    margin-right: auto

footer
  background-color: $breaker_bay
  padding: $base-spacing
  text-align: center
  p
    margin-bottom: 0
    padding-bottom: 0
    padding-top: 3 * $base-spacing
    color: #fff