<div class="seedling-target side-create-gardens">
  <h1 class="sidepage-title">Page about creating gardens</h1>
  <div class="sidepage-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit fugiat nulla. Facere, eos, quis. Quaerat itaque consequuntur, accusamus magni quas laborum illum nulla illo ullam voluptas blanditiis, iste at.</p>
    <h3>First heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit fugiat nulla. Facere, eos, quis. Quaerat itaque consequuntur, accusamus magni quas laborum illum nulla illo ullam voluptas blanditiis, iste at.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit fugiat nulla. Facere, eos, quis. Quaerat itaque consequuntur, accusamus magni quas laborum illum nulla illo ullam voluptas blanditiis, iste at.</p>
    <h3>Second heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit fugiat nulla. Facere, eos, quis. Quaerat itaque consequuntur, accusamus magni quas laborum illum nulla illo ullam voluptas blanditiis, iste at.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit fugiat nulla. Facere, eos, quis. Quaerat itaque consequuntur, accusamus magni quas laborum illum nulla illo ullam voluptas blanditiis, iste at.</p>
  </div>
</div>