$grid-portrait: (columns: 1, gutter: $base-spacing, media: "(orientation: portrait)")
$grid-landscape: (columns: 12, gutter: 2 * $base-spacing, media: "(orientation: landscape)")


*
  box-sizing: border-box

html
  font-size: 56.25%
  @media screen and (min-width: $medium-screen)
    font-size: 62.5%
  @media screen and (min-width: $xl-screen)
    font-size: 68.75%


body,html
  height: 100%
  margin: 0
  padding: 0

svg
  width: 100%
  height: auto

.section
  color: $white_smoke
  height: 100vh
  min-height: calc(9/16 * 100vw)
  position: relative
  overflow: hidden

  &--one
    background-color: $vivid_tangerine
  &--two, &--six
    background-color: $blue_bayoux
  &--three
    background-color: $watusi
    color: $mine_shaft
    .slide.container
      @include grid-media($grid-landscape)
        transform: translateX(-60%)
        .fruitandveg
          opacity: 0

  &--four
    background-color: $medium_aquamarine
  &--five
    background-color: $salmon
  &--six
    .section-heading, .pullout-stat
      color: $sugar_cane
  &--seven
    background-color: $watusi
    color: $mine_shaft
    .container
      height: calc(100% - #{3 * $base-spacing})
      @media screen and (min-width: $medium-screen)
        height: calc(100% - #{5 * $base-spacing})

.subsection
  display: none
  @include grid-media($grid-landscape)
    @media screen and (min-width: $medium-screen)
      display: block

.col
  width: 30%
  float: left
  margin-right: 4.5%
  position: relative
  overflow: hidden
  &:last-child
    margin-right: 0


.texture
  position: fixed
  top: 0%
  left: 0%
  width: 100%
  height: 100%
  z-index: 9999
  pointer-events: none
  background-image: url(images/clean-gray-paper.png)
  opacity: .5

.container
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-around
  transition: transform $base-duration
  padding: $base-spacing
  @media screen and (min-width: $medium-screen)
    padding: 2 * $base-spacing
  @media screen and (min-width: $large-screen)
    padding: 3 * $base-spacing
  @include grid-media($grid-landscape)

    flex-direction: row
    justify-content: space-between
    margin-left: auto
    margin-right: auto
    @media screen and (min-width: $medium-screen)
      justify-content: space-around
      width: 82.5%
      padding: 0


.column
  position: relative
  align-self: center
  width: 100%
  // border: 2px dotted rgba(255,255,255,.15)


  &--image
    flex: 0 1 60%
    order: 1
    margin-bottom: $base-spacing
    @include grid-media($grid-landscape)
      flex: 0 0 58%
      height: 100%
      margin-bottom: 0
      order: initial
      position: relative
      flex: 0 0 47.5%
      @media screen and (min-width: $medium-screen)
        flex: 0 0 58%

  &--text
    z-index: 999
    flex: 0 0 auto
    text-align: center
    order: 2
    p:last-child
      margin-bottom: 0
    @media screen and (min-width: $medium-screen)
      width: 85%

    @include grid-media($grid-landscape)
      width: auto
      text-align: left
      flex: 0 0 47.5%
      order: initial
      height: auto
      margin-top: 0
      margin-bottom: 0
      @media screen and (min-width: $medium-screen)
        flex: 0 0 40%
  &--welcome
    text-align: center
    @include grid-media($grid-landscape)
      @media screen and (min-width: $large-screen)
        @include grid-column(10)
        margin-left: auto
        margin-right: auto
  &--contact
    text-align: center
    @media screen and (min-width: $medium-screen)
      width: 80%
    @include grid-media($grid-landscape)
      @media screen and (min-width: $large-screen)
        width: 40%
        margin-left: auto
        margin-right: auto


.sidepage-body
  overflow-y: auto
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: $base-spacing
    background-color: transparent
    border-radius: 10px
    border: 1px solid $vivid_tangerine
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    width: $base-spacing
    background-color: $salmon
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)

.sidepage-title
  font-size: modular-scale(2)

footer
  background-color: $breaker_bay
  text-align: center
  position: relative
  height: 3 * $base-spacing
  display: flex
  align-items: center
  justify-content: center
  font-size: modular-scale(-1)
  @media screen and (min-width: $medium-screen)
    height: 5 * $base-spacing
    font-size: modular-scale(0)
  p
    margin-bottom: 0
    padding-bottom: 0
    color: #fff
    padding: 0 $small-spacing/2