$grid-portrait: (columns: 1, gutter: $base-spacing, media: "(orientation: portrait)")
$grid-landscape: (columns: 12, gutter: 2 * $base-spacing, media: "(orientation: landscape)")


*
  box-sizing: border-box

html
  font-size: 56.25%
  @media screen and (min-width: $large-screen)
    font-size: 62.5%
  @media screen and (min-width: $xl-screen)
    font-size: 68.75%


body,html
  height: 100%
  overflow-x: hidden
  margin: 0
  padding: 0

svg
  width: 100%
  height: auto

.section
  color: $white_smoke
  height: 100vh
  position: relative
  overflow: hidden

  &--one
    background-color: $vivid_tangerine
  &--two, &--six
    background-color: $blue_bayoux
  &--three
    background-color: $watusi
    color: $mine_shaft
    .slide.container
      @include grid-media($grid-landscape)
        transform: translateX(-60%)
        .fruitandveg
          opacity: 0

  &--four
    background-color: $medium_aquamarine
  &--five
    background-color: $salmon
  &--six
    .section-heading, .pullout-stat
      color: $sugar_cane
  &--seven
    background-color: $watusi
    color: $mine_shaft
    .container
      height: calc(100% - #{4 * $base-spacing})

.subsection
  display: none
  @include grid-media($grid-landscape)
    display: block

.col
  width: 30%
  float: left
  margin-right: 4.5%
  position: relative
  overflow: hidden
  &:last-child
    margin-right: 0


.texture
  position: fixed
  top: 0%
  left: 0%
  width: 100%
  height: 100%
  z-index: 9999
  pointer-events: none
  background-image: url(images/clean-gray-paper.png)
  opacity: .5

.container
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  transition: transform $base-duration
  padding: $base-spacing
  @include grid-media($grid-landscape)
    padding: 0
    flex-direction: row
    justify-content: space-between
    width: 82.5%
    margin-left: auto
    margin-right: auto

.column
  position: relative
  align-self: center
  width: 100%
  // border: 2px dotted rgba(255,255,255,.15)


  &--image
    flex: 1 1 50%
    margin-bottom: $base-spacing
    order: 1
    @include grid-media($grid-landscape)
      flex: 0 0 58%
      height: 100%
      margin-bottom: 0
      order: initial
      position: relative

  &--text
    z-index: 999
    flex: 1 0 auto
    text-align: center
    order: 2
    p:last-child
      margin-bottom: 0

    @include grid-media($grid-landscape)
      text-align: left
      flex: 0 0 40%
      order: initial
      height: auto
      margin-top: 0
      margin-bottom: 0
  &--centred
    text-align: center
    @include grid-media($grid-landscape)
      @include grid-column(10)
      margin-left: auto
      margin-right: auto


.sidepage-body
  overflow-y: auto
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: $base-spacing
    background-color: transparent
    border-radius: 10px
    border: 1px solid $vivid_tangerine
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    width: $base-spacing
    background-color: $salmon
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)

.sidepage-title
  font-size: modular-scale(2)

footer
  background-color: $breaker_bay
  padding: $base-spacing $small-spacing
  text-align: center
  position: relative
  height: 4 * $base-spacing
  p
    margin-bottom: 0
    padding-bottom: 0
    margin-top: $base-spacing
    color: #fff

.faux-footer
  background-color: $breaker_bay
  height: $small-spacing