.homepage-title
  text-transform: lowercase
  font-size: modular-scale(4)
  margin-top: 0
  margin-bottom: 0
  @media screen and (min-width: $medium-screen)
    font-size: modular-scale(5)


.lemonbalm-logo
  width: auto
  height: 2.5 * $base-spacing
  margin: 0 auto -1.5 * $base-spacing
  @media screen and (min-width: $medium-screen)
    height: 3 * $base-spacing
    margin: 0 auto -3 * $base-spacing


.garland
  position: absolute
  left: 100%
  width: 275vw
  transform: translateX(-50%)
  &--upper
    top: -15vh
  &--lower
    bottom: -5vh

@include grid-media($grid-landscape)
  .garland
    width: 110vw
    left: 50%
    &--upper
      top: auto
      bottom: 60%
    &--lower
      top: auto
      bottom: -10%

@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .garland
      &--upper
        bottom: 52.5%
      &--lower
        bottom: (-9/16 * 10) + vw