.section--three

  .seedling-link + p
    display: none

  .fruitandveg
    height: 100%
    display: none

  .plantpots
    bottom: 0
    height: 100%

  .seedling-target
    position: absolute
    left: 115%
    width: 45%
    opacity: 0
    pointer-events: none
    bottom: 20%
    padding-right: $base-spacing
    top: 30%
    display: flex
    flex-direction: column
    transform: translateY($base-spacing)
    transition: opacity $base-duration, transform $base-duration

[data-active="run-sessions"] .seedling-target.side-run-sessions, [data-active="create-gardens"] .seedling-target.side-create-gardens, [data-active="train-advise"] .seedling-target.side-train-advise
  opacity: 1
  transform: translateY(0)
  pointer-events: all
  transition: opacity $base-duration $base-duration, transform $base-duration $base-duration



.button--close
  border: .2rem solid $salmon
  color: $salmon
  border-radius: $small-spacing
  line-height: $base-spacing
  padding: 0 $small-spacing
  cursor: pointer
  display: inline-block
  position: absolute
  display: none
  .slide &
    display: block


@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .section--three

      .seedling-link + p
        display: block

      .plantpots
        left: 191%
        bottom: -12.5%
        height: 10 * $base-spacing

      .fruitandveg
        display: block
        height: auto
        width: 100%
        position: absolute
        left: auto
        right: -15vw
        top: 50%