.section--seven
  overflow: hidden
  .plants
    width: 150vw
    bottom: 1.5 * $base-spacing
    left: 0%
    @media screen and (min-width: $medium-screen)
      bottom: 2 * $base-spacing

  @media (max-width: $large-screen)
    .gardenerraking
      display: none !important
    .wheelbarrow
      display: none !important

  .contact-form
    position: absolute
    left: 100vw
    width: 100vw


@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .section--seven
      overflow: visible

      .gardenerraking
        display: block
        position: absolute
        height: 80%
        left: -2.5vw
        bottom: -2px
        top: auto
        width: auto

      .wheelbarrow
        display: block
        position: absolute
        height: 30%
        left: 80%
        bottom: 0
        top: auto
        width: auto

      .plants
        bottom: -32.5%
        width: 100vw
        left: 60%