.section--seven
  overflow: hidden

  .wheelbarrow
    display: none

  .plants
    width: 150vw
    bottom: 1.5 * $base-spacing
    left: 0%
    @media screen and (min-width: $medium-screen)
      bottom: 2 * $base-spacing

  .plant_A
    width: 15vw
    bottom: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      bottom: 3 * $base-spacing
    &--one
      left: 4%
    &--two
      left: 50%
      width: 17.5vw
    &--three
      left: 70%
      display: none

  .plant_B
    width: 15vw
    bottom: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      bottom: 3 * $base-spacing
    &--one
      left: 21%
    &--two
      left: 69%
      width: 15vw

  .plant_C
    bottom: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      bottom: 3 * $base-spacing
    width: 15vw
    &--one
      left: 35%
    &--two
      left: 46.5%
      display: none
    &--three
      left: 83%

  .gardenerraking
    display: none

  .contact-form
    position: absolute
    left: 100vw
    width: 100vw

@include grid-media($grid-landscape)
  .section--seven
    .plant_A, .plant_B, .plant_C
      width: 7.5vw
      @media screen and (max-width: $medium-screen)
        display: none

@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .section--seven
      overflow: visible

      .gardenerraking
        display: block
        position: absolute
        height: 80%
        left: -2.5vw
        bottom: -2px
        top: auto
        width: auto

      .wheelbarrow
        display: block
        position: absolute
        height: 30%
        left: 80%
        bottom: 0
        top: auto
        width: auto

      .plants
        bottom: -34%
        width: 100vw
        left: 60%

      .plant_A
        width: 6vw
        bottom: -23%
        &--one
          left: 32.5%
        &--two
          left: 54%
          width: 7vw
        &--three
          left: 72%
          display: block
          bottom: -25%

      .plant_B
        width: 6vw
        &--one
          left: 47.5%
          bottom: -11%
        &--two
          left: 77%
          width: 7.5vw
          bottom: -16%

      .plant_C
        &--one
          width: 4.5vw
          left: 27.5%
          bottom: -14%
        &--two
          left: 39%
          bottom: -26%
          width: 7vw
          display: block
        &--three
          left: 63%
          width: 6vw
          bottom: -20%