.man,
.woman
  height: 100%
  bottom: 0%
  left: 18%

.woman
  right: 28%
  left: auto


@include grid-media($grid-landscape)

  .man,
  .woman
    width: 68.5%
    top: 20%
    left: 42.5%
    height: auto
    bottom: auto
    right: auto

  .woman
    left: 5%
    width: 54%


@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .man,
    .woman
      width: 63.5%
      top: 52.5%
      left: 88.5%

    .woman
      top: 52.5%
      left: 26%
      width: 48.5%