.leaf
  height: 70%
  transform: translateX(-50%)
  &:nth-child(1)
    left: 5%
    top: -25%
  &:nth-child(2)
    top: -25%
    left: 95%
  &:nth-child(3)
    top: -5%
    left: 55%
  &:nth-child(4)
    top: 35%
    left: 10%
  &:nth-child(5)
    top: 32.5%
    left: 77.5%

.yogi
  left: 50%
  height: 85%
  width: auto
  bottom: 5%
  transform: translateX(-50%)

@include grid-media($grid-landscape)
  @media screen and (min-width: $medium-screen)
    .leaf
      height: 50%
    .yogi
      height: 65%
      left: 55%

@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))
    .leaf
      width: 45%
      &:nth-child(1)
        top: 25%
        left: 52.5%
      &:nth-child(2)
        top: 57.5%
        left: 25%
      &:nth-child(3)
        top: 47.5%
        left: 77.5%
      &:nth-child(4)
        top: 87.5%
        left: 12.5%
        display: block
      &:nth-child(5)
        top: 82.5%
        left: 60%
        display: block

    .yogi
      width: 75%
      top: 60%
      left: 50%