.fruitandveg
  height: 100%
  display: none

.plantpots
  bottom: 0
  height: 100%

@media screen and (min-width: $large-screen) and (orientation: landscape)
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))

    .plantpots
      right: -227.5%
      bottom: -25%
      height: 10 * $base-spacing
    .fruitandveg
      display: block

      height: auto
      width: 100%
      position: absolute
      left: auto
      right: -25vw
      top: 50%
      max-width: none

