---
layout: default
---

  <div class="section section--one">
    <div class="container">
      {% include /images/home-section-1/garland-upper.svg class="garland garland--upper" alt="" %}
      {% include /images/home-section-1/garland-lower.svg class="garland garland--lower" alt="" %}
      <div class="column column--centred">
        <h1 class="homepage-title">Health &amp; wellbeing<br />through gardens and nature</h1>
        {% include /images/lemonbalm_logo.svg class="lemonbalm-logo" %}
      </div>
    </div>
  </div>

  <div class="section section--two">
    <div class="container">
      <div class="column column--text">
        <h2 class="section-heading">By growing friendships, motor skills, stamina and confidence, we weed out anxiety and feelings of isolation.</h2>
        <p>We’re Lemon Balm, and we get people gardening through structured programmes that achieve results.</p>
        <p>That means we not only create capable gardeners, we also help develop social skills, improve mobility, increase agility, and work towards other agreed outcomes.</p>
      </div>
      <div class="column column--image">
        {% include /images/home-section-2/man.svg class="man" alt="" parallax="-0.25" %}
        {% include /images/home-section-2/woman.svg class="woman" alt="" parallax="-0.05" %}
      </div>
    </div>
  </div>

  <div class="section section--three">
    <div class="container">
      <div class="column column--centred">
        <h2 class="section-heading">We get people gardening</h2>
        <h3 type="button" class="section-subheading">We run sessions</h3>
        <p>Some information goes here, plus link through to seperate page with more info.</p>
        <h3 type="button" class="section-subheading">We create gardens</h3>
        <p>Some information goes here, plus link through to seperate page with more info.</p>
        <h3 type="button" class="section-subheading">We train &amp; consult</h3>
        <p>Some information goes here, plus link to seperate page with more info.</p>
      </div>
      {% include /images/home-section-3/fruitandveg-left.svg class="fruitandveg fruitandveg--left" parallax="-0.1" alt="" %}
      {% include /images/home-section-3/fruitandveg-right.svg class="fruitandveg fruitandveg--right" parallax="-0.1" alt="" %}
      <!-- <div class="column column--image">
        {% include /images/home-section-3/fruitandveg.svg class="fruitandveg" parallax="-0.1" alt="" %}
        {% include /images/home-section-3/plantpots.svg class="plantpots" parallax="-0.1" alt="" %}
      </div>
      <div class="column column--text">
        <h2 class="section-heading">We get people gardening</h2>
        <h3 type="button" class="section-subheading">We run sessions</h3>
        <p>Some information goes here, plus link through to seperate page with more info.</p>
        <h3 type="button" class="section-subheading">We create gardens</h3>
        <p>Some information goes here, plus link through to seperate page with more info.</p>
        <h3 type="button" class="section-subheading">We train &amp; consult</h3>
        <p>Some information goes here, plus link to seperate page with more info.</p>
      </div> -->
    </div>
  </div>

  <div class="section section--four">
    <div class="container">
      <div class="column column--text">
        <h2 class="section-heading">We believe nature is essential for wellbeing, that gardening is good for body and mind</h2>
        <p>This is the idea that drives our work, it underpins everything we do. It’s a belief that’s both rational and evidence-based, shaped by the ﬁndings of academic research as well as by our own experiences.</p>
        <div class="subsection">
          <h3 class="section-subheading">Gardening is good for the mind</h3>
          <p>Gardening makes you feel good. Understanding the needs of a garden helps us understand our own needs.</p>
          <h3 class="section-subheading">Gardening is good for the body</h3>
          <p>Our work is carefully tailored to get people active, whatever their level of ﬁtness and mobility.</p>
        </div>
      </div>
      <div class="column column--image">
          {% include /images/home-section-4/leaf.svg class="leaf" alt="" parallax="-0.15" %}
          {% include /images/home-section-4/leaf.svg class="leaf" alt="" parallax="-0.1" %}
          {% include /images/home-section-4/leaf.svg class="leaf" alt="" parallax="-0.05" %}
          {% include /images/home-section-4/leaf.svg class="leaf" alt="" parallax="0.1" %}
          {% include /images/home-section-4/leaf.svg class="leaf" alt="" parallax="0.2" %}
          {% include /images/home-section-4/yogi.svg class="yogi" alt="" parallax="0.05" %}
      </div>

    </div>
  </div>

  <div class="section section--five">
    <div class="container">
      <div class="column column--image">
        {% include /images/home-section-5/plant.svg class="plant" alt="" parallax="-0.1" %}
        {% include /images/home-section-5/pot.svg class="pot" alt="" parallax="-0.05" %}
        {% include /images/home-section-5/lady.svg class="lady" alt="" parallax="-0.15" %}
      </div>
      <div class="column column--text">
        <h2 class="section-heading">There’s more to a successful garden than seeds, soil &amp; water</h2>
        <p>Lemon Balm is led by professionals with qualiﬁcations in social and therapeutic horticulture, garden design, forest schools and volunteer management.</p>
        <p>Trained by Occupational Therapists, our approach and outcomes are evidence-based and rigorous.</p>
      </div>
    </div>
  </div>

  <div class="section section--six">
    <div class="container">
      <div class="column column--text">
        <h2 class="section-heading">Our approach is proven</h2>
        <p class="pullout-stat-heading">90%</p>
        <p class="pullout-stat-body">of people who attended our pilot programme said their mood had improved as a result of our work.</p>
      </div>
      <div class="column column--image">
        {% include /images/home-section-6/plants.svg class="potplant" alt="" parallax="-0.2" %}
        {% include /images/home-section-6/planters.svg class="planters" alt="" parallax="-0.1" %}
        </div>
    </div>
  </div>


  <div class="section section--seven">
    <div class="container">
      <div class="column column--centred">
        <h2 class="section-heading">Section seven</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel incidunt veniam voluptates facilis odit reiciendis iste ex, quam consectetur nisi, corrupti aspernatur obcaecati dicta, amet quia voluptas dolorum nesciunt perspiciatis.</p>
      </div>
      {% include /images/home-section-7/gardenerraking.svg class="gardenerraking" alt="" %}

      {% include /images/home-section-7/plant_a.svg class="plant_A plant_A--one" alt="" parallax="0.15" %}
      {% include /images/home-section-7/plant_a.svg class="plant_A plant_A--two" alt="" parallax="0.1" %}
      {% include /images/home-section-7/plant_a.svg class="plant_A plant_A--three" alt="" parallax="0.25" %}

      {% include /images/home-section-7/plant_b.svg class="plant_B plant_B--one" alt="" parallax="0.05" %}
      {% include /images/home-section-7/plant_b.svg class="plant_B plant_B--two" alt="" parallax="0.1" %}

      {% include /images/home-section-7/plant_c.svg class="plant_C plant_C--one" alt="" parallax="0.05" %}
      {% include /images/home-section-7/plant_c.svg class="plant_C plant_C--two" alt="" parallax="0.25" %}
      {% include /images/home-section-7/plant_c.svg class="plant_C plant_C--three" alt="" parallax="0.15" %}

    </div>
  </div>

  <footer>
    <p>Lemon Balm Horticultural Therapy is a Community Interest Company, registered company number 09740573.</p>
  </footer>

