<!DOCTYPE html>
<html class="no-js shop" lang="">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content">
        {{ content }}

        {% if page.tabs %}
          <div class="tabs">
            {% for tab in page.tabs %}
            <input name="tabs" type="radio" id="tab-{{ forloop.index }}" {% if forloop.index == 1 %}checked="checked"{% endif %} class="input"/>
            <label for="tab-{{ forloop.index }}" class="button ">{{ tab.title }}</label>
            <div class="panel">
              {{ tab.content | markdownify }}
            </div>
            {% endfor %}
          </div>
        {% endif %}


    </main>

    <div class="texture"></div>

    <footer>
      <div class="footer-inner">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/lemonbalmth/" class="social-facebook">{% include /images/facebook.svg %}</a></li>
          <li><a href="https://www.instagram.com/IzzLemonBalm/" class="social-instagram">{% include /images/instagram.svg %}</a></li>
        </ul>
        <p>Lemon Balm Horticultural Therapy is a Community Interest Company, registered company number 09740573.</p>
      </div>
    </footer>

    {% include footer.html %}

  </body>

</html>
