<!DOCTYPE html>
<html class="no-js shop" lang="">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content">
        {{ content }}
    </main>

    <div class="texture"></div>

    <footer>
      <div class="footer-inner">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/lemonbalmth/" class="social-facebook">{% include /images/facebook.svg %}</a></li>
          <li><a href="https://www.instagram.com/IzzLemonBalm/" class="social-instagram">{% include /images/instagram.svg %}</a></li>
        </ul>
        <p>Lemon Balm Horticultural Therapy is a Community Interest Company, registered company number 09740573.</p>
      </div>
    </footer>

    {% include footer.html %}

  </body>

</html>
