---
layout: page
---

{% for product in site.products %}

<h1 class="product-title">{{ product.title }}</h1>
<h2 class="product-description">{{ product.description }}</h2>
<div class="product-info">
  {{ product.content }}
  <div class="purchase-box">
    <div class="product-price">Price: £{{ product.price }}</div>

    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-{{ product.sku }}"
      role="link"
    >
      Checkout
    </button>

    <div id="error-message"></div>

    <script>
      var stripe = Stripe('{{ site.stripe_public_key }}');

      var checkoutButton = document.getElementById('checkout-button-{{ product.sku }}');
      checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
          items: [{sku: '{{ product.sku }}', quantity: 1}],

          // Do not rely on the redirect to the successUrl for fulfilling
          // purchases, customers may not always reach the success_url after
          // a successful payment.
          // Instead use one of the strategies described in
          // https://stripe.com/docs/payments/checkout/fulfillment
          successUrl: 'http://lemonbalm.org.uk/success',
          cancelUrl: 'http://lemonbalm.org.uk/canceled',
        })
        .then(function (result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });
      });
    </script>
    <!-- <form action="/payment/?sku={{ product.sku }}" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ site.stripe_public_key }}"
        data-amount="{{ product.price | times: 100 }}"
        data-name="{{ product.title }}"
        data-description="{{ product.description }}"
        data-image="{{ product.image | default: site.icon }}"
        data-locale="auto"
        data-billing-address="true"
        data-shipping-address="{{ product.shippable }}"
        data-currency="gbp"
        data-label="Purchase now">
      </script>
    </form> -->
  </div>
</div>
{% endfor %}

