// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$xl-screen: 1400px;
//1366 = mum's windows laptop

// Typography
$base-font-family: #{'Calibri', $font-stack-system};
$heading-font-family: 'Baloo';

// Font Sizes
$base-font-size: 1.8rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $base-font-size;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// Colors

// Background colours
$mine_shaft: #333333;
$vivid_tangerine: #F79984;
$blue_bayoux: #63757B;
$watusi: #F0D1BC;
$medium_aquamarine: #63C3AE;
$salmon: #F1856B;



$olivine: #8DB47A;
$my_sin: #FAB12A;
$light_grey: #AAAAAA;
$white_smoke: #F7F6F5;
$ochre: #C8732D;
$breaker_bay: #53A492;
$sugar_cane: #EDEEE2;

// Font Colors
$base-font-color: $mine_shaft;
$action-color: $blue-bayoux;

// Border
$base-border-color: $blue_bayoux;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
